<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Yifan's Blog</title>
</head>
<body>
  <div id="app">
    <a href="/">Click Here to visit the HTML5 site.</a>
    <h1>Pages</h1>
    <div id="pages">
      <div v-for="page in pages">
        <p>{{page.title}}</p>
      </div>
    </div>
    <h1>Posts</h1>
    <div id="posts">
      <div v-for="post in posts">
        <a v-bind:href="toPostUrl(post)">{{post.title}}</a>
      </div>
    </div>
  </div>
  <script src="../3rdparty/js/vue.js"></script>
  <script src="../3rdparty/js/axios.js"></script>
  <script src="../3rdparty/js/moment.min.js"></script>
  <script src="../3rdparty/js/showdown.js"></script>
  <script src="../js/config.js"></script>
  <script src="../js/blog.js"></script>
  <script src="../js/accessibility/index.js"></script>
</body>
</html>
